html {
  background-color: #e8ecef;
  align-items: center;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e8ecef; /* Fondo gris */
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  position: relative;
}

.titulo {
  text-align: center;
  margin: 10px;
  background-color: #e8ecef;
  font-size: 50px;
}

.formulario {
  background-color: white;
  padding: 30px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 0 10px 1px #adbeca;
  margin: auto;
}

input {
  position: relative;
  background-color: white;
  border-style: solid;
  display: flex;
  border-radius: 3px;
  border-width: 1px;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 30px;
  padding-left: 10px;
}

.fa-user {
  float: right;
  margin-right: 8px;
  margin-top: -26px;
  position: relative;
  display: block;
  z-index: 2;
}

.fa-envelope {
  float: right;
  margin-right: 8px;
  margin-top: -26px;
  position: relative;
  display: block;
  z-index: 2;
}

.fa-phone {
  float: right;
  margin-right: 8px;
  margin-top: -26px;
  position: relative;
  display: block;
  z-index: 2;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 313px;
}

.wrapper input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  height: 19px;
}

.wrapper button {
  padding: 12px;
  color: #4caf50;
  background-color: white;
  border-color: #4caf50;
  border-style: solid;
  border-width: 1px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.wrapper button:hover{
  cursor: pointer;
  background-color:#4caf50;
  color: white;
}

.second-container {
  background: white;
  width: auto;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.flag {
  color: white;
  border-style: solid;
  display: flex;
}

#flag {
  height: 100%;
}

.flag button {
  background-color: #4caf50;
  color: white;
  border-color: #4caf50;
  border-radius: 3px;
  width: 50px;
}

.flag button:hover {
  cursor: pointer;
  background-color: #356e37;
}

table {
  border-collapse: collapse;
  align-self: center;
}

td, th {
  border: 1px solid #ccc;
  padding: 8px;
}

#miTabla {
  text-align: center;
  margin: auto;
  max-width: 250px;
}

#finalButton{
  text-align: left;
}

#cancelar{
  height: 35px;
  width: 70px;
  border-radius: 8px;
  color: #881515;
  background-color: white;
  border: #881515;
  border-style: solid ;
  border-width: 1.5px;
}

#aceptar{
  height: 35px;
  width: 70px;
  border-radius: 8px;
  color: #3dd417;
  background-color: white;
  border: #3dd417;
  border-style: solid ;
  border-width: 1.5px;
  margin-left: 15px;
}

#cancelar:hover, #aceptar:hover{
  cursor: pointer;
}

