html{
    font-family: sans-serif;
    justify-content: center;
    text-align: center;
    align-items: center;
}


#resultado{
    align-items: center;
}

#header{
    text-align: center;
    background-color: #17A2B7;
    width: 20%;
    margin: auto;
    padding: 2rem;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-wrap:wrap ;
}

#nom-fic{
    color: white;
}

#nom-fic h2{
    margin-left: 50px;
}

img{
    width: 100px;
}

#footer{
    background-color: rgb(212, 212, 212);
    text-align: left;
    width: 24.85%;
    height: 200%;
    margin: auto;
    box-shadow:0 0 10px 1px rgba(0, 0, 0, 0.2) ;
}

#footer div{
    font-size: 20px;
    padding: 12px;
    border-color: #e6e6e6;;
    border-width: 1px;
    border-style: solid;
    
}